@import "./normalize.scss";
@import "./config.scss";
@import "./elementui.scss";

// 浮动
.pull-right {
    float: right;
}

// margin
.padding-top-30{
    padding-top: 30px;
}

.width-100 {
    width: 100px;
}
.width-60 {
    width: 60px;
}

.margin-l-10 {
    margin-left: 10px;
}